body {
    background: #191919;
}

.container {
    max-width: 600px;
    margin: 24px auto;
    position: relative;
}

.container .prevbtn, .container .nextbtn,
.fullscreen .prevbtn, .fullscreen .nextbtn {
    width: 30px;
    position: absolute;
    z-index: 2;
    top: 40%;
    transform: translateY(-50);
    background: #191919;
    color: #FFF6F6;
    border-radius: 70%;
    padding: 8px;
    display: flex;
    cursor: pointer;
}

.container .prevbtn, 
.container .nextbtn {
    opacity: 0;
    pointer-events: none;
    transition: all 400ms ease;
}

.container .prevbtn.active,
.container .nextbtn.active {
    opacity: 1;
    pointer-events: auto;
}


.container .prevbtn,
.fullscreen .prevbtn {
    left: 8px;
}

.container .nextbtn,
.fullscreen .nextbtn {
    right: 8px;
}

.fullscreen .nextbtn,
.fullscreen .prevbtn {
    top: 50%;
}

.container .story {
    height: 180px;
    width: 120px;
    flex-shrink: 0;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.container .story img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .stories {
    display: flex;
    gap: 8px;
}

.container .content{ 
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.container .content::-webkit-scrollbar {
    display: none;
}

.container .auth {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color:#E8F4CF;
    padding: 8px 10px;
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 11px;
    background: linear-gradient(transparent, #222, 130%);
}

.fullscreen {
    position: fixed;
    inset: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0.493);
    display: none;
    place-items: center;
}

.fullscreen.active {
    display: grid;
}

.fullscreen .closebtn {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 40px;
    background: #191919;
    color:#FFF6F6;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    cursor: pointer;
    z-index: 20;
}

.fullscreen .content {
    height: 90vh;
    width: 100%;
    max-width: 700px;
    position: relative;
}

.fullscreen .story {
    height: 100%;
    text-align: center;
}

.fullscreen .story img{
    height: 100%;
    aspect-ratio: 10/16;
    object-fit: cover;
    border-radius: 16px;
}

.fullscreen .auth {
    position: absolute;
    text-align: left;
    top: 15px;
    left: 200px;
    transform: translateX(-40px);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    padding: 4px 15px;
    border-radius: 15px;
}   